<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request's</title>
</head>
<body>
{% include "../Navbar.html" %}
<table class="table my-2 mx-2" style="width: 99%">
  <thead>
    <tr>

      <th scope="col">#User Id</th>
      <th scope="col">Name</th>
      <th scope="col">Batch Code</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Verify Action</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
        <tr>
        <th>
            {{ request.id }}
        </th>
        <td>
            {{ request.admin_id }}
        </td>
        <td>
            {{ request.batch_code }}
        </td>
        <td>
            {{ request.contact_number }}
        </td>
        <td>
           {% if request.status %}
               <a href="/register/verify/user/?id={{ request.id }}">UnVerify</a>
               {% else %}
               <a href="/register/verify/user/?id={{ request.id }}">Verify</a>
            {% endif %}
        </td>
        <td>
            <a href="/register/delete/user?id={{ request.id }}">DELETE</a>
        </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>