{% extends "./homepage.html" %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div class="main">

<div class="card" style="height: 400px;width: 600px">
    <div class="heading">
        About
    </div>
    <div class="input-heading">
        It is Online Test Portal for conduct test.
        here user can register their institute and their student at particular batch and conduct test.
        it is free of cost for trail version for 15 day's then for further use less charge collect from user.
        we chage only those user who register their institute in website.
    </div>


</div>
</div>
{% endblock %}
</body>
</html>