<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Test Portal-HomePage</title>
</head>
<body>
{% include "./Navbar.html" %}

{% if request.session.user %}
        <div class="main">
            <table class="table my-2 mx-2" style="width: 99%;">
  <thead>
    <tr>
        <th scope="col">Paper Id</th>
<th scope="col">Paper Name</th>
<th scope="col">Maximum Marks</th>
<th scope="col">Number Of Question</th>
<th scope="col">Test Start</th>
<th scope="col">Test End</th>
<th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="table-body">


  </tbody>
</table>
        </div>
    <script>
    document.querySelector('#home').classList.add("active")
    </script>
    <script src="/static/js/homepage.js"></script>
    <script src="/static/js/mainContent.js"></script>
{% endif %}
</body>

</html>