<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Test Portal-HomePage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    {% if request.session.user %}
    <a href="/profile/">Profile</a>
        <a href="/register/user/">Join Batch</a>
        {% ifequal request.session.user.status True %}
            <a href="/register/batch/">Add Batch</a>
            {% else %}
            <a href="/register/institute/">Register Institution</a>
        {% endifequal %}
        <a href="/authentication/logout/">Logout</a>
        {% else %}
        <a href="/authentication/login/">Login</a>
    {% endif %}
</div>
{% block content %}
{% ifequal request.session.user.status True %}
            <div class="institute-details">
                <h1>{{ institute_name }} ({{ institute_code }})</h1>
                <h2>{{ institute_address }} (tel:{{ institute_contact }})</h2>
            <hr>
            </div>

        {% endifequal %}
{% if request.session.user %}
{% ifequal request.session.user.status True %}
            <div class="other-links">
                <a href="/requests/">Requests</a>
                <a>Upload Test</a>
        {% endifequal %}
            <select id="institute-join">
                    <option selected disabled value="0">--Select Institute--</option>
                </select>
                <select id="Batch-join">
                    <option selected disabled value="0">--Select Batch--</option>
                </select>
                <a >Search Status</a>
            </div>
            <hr>
    <script src="/static/js/homepage.js"></script>
{% endif %}
</body>
{% endblock %}
</html>