<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
{% include "./Navbar.html" %}
<div class="main">

<div class="mycard">
    <div class="heading">
        Profile
    </div>
    <div class="input-heading">
        Username : {{ username }}
    </div>
<div class="input-heading">
    Email Id :  {{ emailid }}
</div>
<div class="input-heading">
    Institute Register (any) : {% if status %}
        YES
        {% else %}
        NO
    {% endif %}
</div>

</div>
</div>
<script>
    document.querySelector('#profile').classList.add("active")
    </script>
</body>
</html>
