.navbar,.other-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid whitesmoke;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}
.navbar a,.other-links a{
    color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
}
.navbar a:hover,.other-links a:hover{
    color: greenyellow;
    text-decoration: underline;
}
.institute-details{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.card{
    border: 1px solid black;
    width: 500px;
    height: 310px;
    border-radius: 20px;
    background-color:rgba(162, 155, 254,0.5);

}
.heading{
    text-align: center;
    margin:10px;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.input-heading{
    margin: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}