.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid whitesmoke;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}
.navbar a{
    color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
}
.navbar a:hover{
    color: greenyellow;
    text-decoration: underline;
}