<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test-Start</title>
    <link rel="stylesheet" type="text/css" href="/static/css/testarea.css">
</head>
<body>
<div class="main">

<div class="question_area">
    <div class="timer-area">
        <div class="marks">
            Marks : <span id="marks"></span>
        </div>
    <div class="net-timer">
        <div>Test End After : <span id="totaltime"></span></div>
    </div>
        <div class="question-timer">
            <div >Next Question After : <span id="timer"></span></div>
        </div>
    </div>
    <div  class="question">

<div id="question">

</div>
    </div>
    <div class="options">
       <div class="option-div"> <span>A</span><input type="radio" name="ans"  class="option"><span id="option1"></span></div>
                <div class="option-div"><span>B</span><input type="radio" name="ans" class="option"><span id="option2"></span></div>
                <div class="option-div"><span>C</span><input type="radio" name="ans" class="option"><span id="option3"></span></div>
                <div class="option-div"><span>D</span><input type="radio" name="ans" class="option"><span id="option4"></span></div>
    </div>
    <div class="next-btn">
        <input type="button" value="Next" id="next-btn" class="btn btn-primary">
    </div>
</div>
{% csrf_token %}
</div>
</body>
{{ id|json_script:"paperid" }}
{{ enddate|json_script:"enddate" }}
{{ start|json_script:"start" }}
<script src="/static/js/testarea.js"></script>
</html>