<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Discription</title>
</head>
<body>
{% include "./Navbar.html" %}
<table class="table my-2 mx-2" style="width: 99%">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Answer</th>
      <th scope="col">Your Response</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
   {% for data in que %}
            <tr>
            <th>
            {% ifequal data.type 2 %}
                {{ data.question }}
                {% else %}
               <img src="/static/files/{{ data.question }}.jpg" style="width: 350px;height: 200px">
            {% endifequal %}
            </th>
            <th>{{ data.ans }}</th>
            {% ifequal data.mark "notanswere" %}
            <th>-</th>
                {% else %}
                <th>{{ data.mark }}</th>
            {% endifequal %}

                {% ifequal data.mark data.ans %}
                    <th style="color: green">Correct</th>
                    {% else %}
                    {% ifequal data.mark "notanswere" %}
                        <th style="color: greenyellow">Not Attempt</th>
                        {% else %}
                         <th style="color: red">Wrong</th>
                    {% endifequal %}
                {% endifequal %}

            </tr>
        {% endfor %}
  </tbody>
<tfoot>
<tr>
    <tr>
        <th>Score</th>
        <th>{{ score }}</th>
    </tr>
    <tr>
        <th>Total Attempt</th>
        <th>{{ cr|add:wr }}</th>
    </tr>
    <tr>
        <th>
          Question  Correct
        </th>
        <th>{{ cr }}</th>
    </tr>
    <tr>
        <th>Question Wrong</th>
        <th>{{ wr }}</th>
    </tr>
    <tr>
        <th>Question Left</th>
        <th>{{ left }}</th>
    </tr>
</tfoot>
</table>
</body>
</html>