<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Paper's</title>
</head>
<body>
{% include "./Navbar.html" %}
<table class="table my-2 mx-2" style="width: 99%">
  <thead>
    <tr>
      <th scope="col">Paper Id</th>
      <th scope="col">Paper Name</th>
      <th scope="col">Batch Code</th>
      <th scope="col">Number Of Question</th>
      <th scope="col">Test Start</th>
      <th scope="col">Test End</th>
      <th scope="col">Maximum Marks</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   {% for paper in papers %}
        <tr>
        <th>
            {{ paper.id }}
        </th>
        <td>
            {{ paper.name }}
        </td>
        <td>
            {{ paper.batch_code }}
        </td>
        <td>
            {{ paper.number_question }}
        </td>
        <td>
            {{ paper.test_start }}
        </td>
            <td>
            {{ paper.test_end }}
        </td>
        <td>
            {{ paper.total_marks }}
        </td>
        <td>
            <a href="/test/delete/paper?id={{ paper.id }}">DELETE</a>
        </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</body>

</html>