
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body >
{% include "../Navbar.html" %}


    {% ifnotequal msg ""%}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">

        <strong class="me-auto">Online Test Portal </strong>

        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ msg }}
      </div>
    </div>
    {% endifnotequal %}

<div class="main" style="height:599px;">

<form action="/authentication/auth/signup" method="post">
    {%csrf_token %}
    <div class="mycard" style="height: 580px">
        <div class="heading">
            SignUp
        </div>
        <div class="input-heading">
            UserName
        </div>
        <div >
            <input class="input-tag" type="text" name="username" placeholder="User Name" required>
        </div>
        <div class="input-heading">
            Email Id
        </div>
        <div >
            <input class="input-tag" type="email" name="emailid" placeholder="Email" required>
        </div>
        <div class="input-heading">
            Password
        </div>
        <div>
                <input class="input-tag" type="password" name="password" placeholder="Password" required>
        </div>
    <center>
    <input class="submit-btn btn btn-primary" type="submit" value="SignUp">
    </center>
        <div >
    <a class="signup-link" href="/authentication/login">If You Already Have Account ? Login</a>
    </div>

    </div>
</form>
</div>
</body>
</html>
