
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body style="height:610px;">
<form action="/authentication/auth/signup" method="post">
    {%csrf_token %}
    <div class="card" style="height: 510px">
        <div class="heading">
            SignUp
        </div>
        <div class="input-heading">
            UserName
        </div>
        <div >
            <input class="input-tag" type="text" name="username" placeholder="User Name" required>
        </div>
        <div class="input-heading">
            Email Id
        </div>
        <div >
            <input class="input-tag" type="email" name="emailid" placeholder="Email" required>
        </div>
        <div class="input-heading">
            Password
        </div>
        <div>
                <input class="input-tag" type="password" name="password" placeholder="Password" required>
        </div>
    <center>
    <input class="submit-btn" type="submit" value="SignUp">
    </center>
        <div >
    <a class="signup-link" href="/authentication/login">If You Already Have Account ? Login</a>
    </div>
    {% ifnotequal msg ""%}
        <div class="error-msg">
        {{ msg }}
        </div>
    {% endifnotequal %}
    </div>
</form>
</body>
</html>